#fullpage {
  overflow: hidden;
}

.section{
  .section-inner {
    transition: transform 20s, width 1s,height 1s,margin-left 1s;
    background-size: cover;
    background-position: 50%;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  &.active {
    .section-inner {
      transform: matrix(1.15, 0, 0, 1.15, 0, 0);
    }
  }
}

@mixin work-inner() {
.work-text-inner {
  color: #fff;
  letter-spacing: .240em;
  line-height: 40px;
  opacity: .5;
  text-align: center;
  text-transform: uppercase;

  .line {
    display: block;
    margin: auto;
    width: 1px;
    height: 20px;
    background: rgba(255,255,255,0.30);
  }

  &:first-child .line {
    display: none;
  }
}
}

.work-titles-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  .work-titles-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    ul {
      width: 100%;
      position: relative;
      list-style: none;
      padding: 0;
      margin: auto;
    }

    &.title-before {
      font-size: 1.2rem;
      top: 120px;
      height: 161px;
      ul {
        top: 100%;
        @include work-inner();
      }
    }

    &.title-after {
      font-size: 1.2rem;
      bottom: 10px;
      height: 271px;
      @include work-inner();
    }

    &.title {
      z-index: 5;
      font-size: 2rem;
      height: 80px;
      top: 50%;
      transform: translateY(-50%);
      li {
        text-align: center;
      }
      li a {
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        outline: 0;
        border: 0;
        line-height: 75px;
        height: 75px;
        padding-bottom: 52px;
      }
    }
  }
}
