<div id="fullpage">
	<div
  *ngFor="let section of sections"
  class="section"
  [id]="section.id">
      <img
      class="section-inner"
      [src]="section.img">
  </div>
</div>

<div class="work-titles-text">
  <div class="work-titles-container title-before" [style.height]="windowHeight/3.75 + 'px'">
    <ul [style.margin-top]="-3*8*marginTop + 'px'">
      <li *ngFor="let section of sections" class="work-text-inner">
        <span class="line"></span>
        <a class="section-text">{{section.text}}</a>
      </li>
    </ul>
  </div>
  <div class="work-titles-container title" [style.height]="windowHeight/8 + 'px'">
    <ul [style.margin-top]="-3*18*marginTop + 'px'">
      <li *ngFor="let section of sections" class="work-text-inner">
        <a class="section-text" [style.padding-bottom]="windowHeight/13 + 'px'">{{section.text}}</a>
      </li>
    </ul>
  </div>
  <div class="work-titles-container title-after" [style.height]="windowHeight/3 + 'px'">
    <ul [style.margin-top]="-3*10*marginTop + 'px'">
      <li *ngFor="let section of sections" class="work-text-inner">
        <span class="line"></span>
        <a class="section-text">{{section.text}}</a>
      </li>
    </ul>
  </div>
</div>
