html, body {
    position: relative;
    height: 100%;
}
body {
    background: #fff;
    font-family: 'Didact Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
